In [1]:
print(3+5)

8

In [2]:
print(1+2+3*3)

12

In [3]:
print(3**2)

9

In [4]:
print(2^1)
## bitwise XOR 10 ^ 01 = 11

3

In [5]:
print(9%2)
#modulo

1

In [6]:
print(99//2)
# divides and rounds down to nearest integer (integer division)
print(-7//2)

49
-4

In [7]:
# Write an expression that calculates the average of 23, 32 and 64.
# Place the expression in this print statement.
print((23+32+64)/3)

39.666666666666664

In [8]:
x = 2
y = x
print(y)

2

In [9]:
x = 2
y = 3
z = 5

x,y,z = 2,3,5

In [10]:
mv_population = 74728
mv_area = 11.995
mv_density = mv_population / mv_area
print(mv_density)

6229.929137140475

Reserved Words
You may not name your variables any of the following words as they mean special things in Python:
and	assert	break	class	continue
def	del	elif	else	except
exec	finally	for	from	global
if	import	in	is	lambda
not	or	pass	print	raise
return	try	while		


Do NOT use any of the following words either (although they are not strictly Python reserved words, they conflict with the names of commonly-used Python functions):
Data	Float	Int	Numeric	Oxphys
array	close	float	int	input
open	range	type	write	zeros



You should also avoid all the names defined in the math library (you must avoid them if you import the library):
acos	asin	atan	cos	e
exp	fabs	floor	log	log10
pi	sin	sqrt	tan

In [11]:
mv_population += 4000 - 600
print(mv_population)

78128

In [12]:
x = 5
x -= 1
print(x)

4

In [13]:
# Note that this code uses scientific notation to define large numbers.
# 4.445e8 is equal to 4.445 * 10 ** 8 which is equal to 444500000.0

# The current volume of a water reservoir (in cubic metres)
reservoir_volume = 4.445e8
# The amount of rainfall from a storm (in cubic metres)
rainfall = 5e6

# decrease the rainfall variable by 10% to account for runoff
rainfall -= rainfall * 0.1

# add the rainfall variable to the reservoir_volume variable
reservoir_volume += rainfall

# increase reservoir_volume by 5% to account for stormwater that flows
# into the reservoir in the days following the storm
reservoir_volume *= 1.05

# decrease reservoir_volume by 5% to account for evaporation
reservoir_volume *= 0.95

# subtract 2.5e5 cubic metres from reservoir_volume to account for water
# that's piped to arid regions.
reservoir_volume -= 2.5e5

# print the new value of the reservoir_volume variable
print(reservoir_volume)

447627500.0

In [14]:
print(3/4)

0.75

In [22]:
x = int(4.7)
y = float(4)
z = 0.1
print(x)
print(y)
print(z)

4
4.0
0.1

In [16]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [23]:
print(.1+.1+.1==0.3)
print(.1+.1+.1)
# https://docs.python.org/3/tutorial/floatingpoint.html
print(round(.1 + .1 + .1, 10) == round(.3, 10))

False
0.30000000000000004
True

In [18]:
sf_population, sf_area = 864816, 231.89
rio_population, rio_area = 6453682, 486.5

san_francisco_pop_density = sf_population/sf_area
rio_de_janeiro_pop_density = rio_population/rio_area

# Write code that prints True if San Francisco is denser than Rio, and False otherwise
print(san_francisco_pop_density > rio_de_janeiro_pop_density)

False

In [19]:
if(san_francisco_pop_density > rio_de_janeiro_pop_density):
    print(True)
else:
    print(False)

False

In [24]:
my_string = 'this is a string!'
my_string2 = "this is also a string!!!"
print(my_string,my_string2)
print(my_string+my_string2)
print(my_string*3)
print(len(my_string*3))

this is a string! this is also a string!!!
this is a string!this is also a string!!!
this is a string!this is a string!this is a string!
51

In [25]:
given_name = "William"
middle_names = "Bradley"
family_name = "Pitt"
full_name = given_name+' '+middle_names+' '+family_name

name_length = len(full_name)

# Now we check to make sure that the name fits within the driving license character limit
# Nothing you need to do here
driving_license_character_limit = 28
print(name_length <= driving_license_character_limit)

True

In [26]:
a = "25.0"
print(type(a))
a = float(a)
print(type(a))

<class 'str'>
<class 'float'>

In [27]:
mon_sales = "121"
tues_sales = "105"
wed_sales = "110"
thurs_sales = "98"
fri_sales = "95"

#TODO: Print a string with this format: This week's total sales: xxx
# You will probably need to write some lines of code before the print statement.

print('This week\'s total sales: '+str(int(mon_sales)+int(tues_sales)+int(wed_sales)+int(thurs_sales)+int(fri_sales)))

This week's total sales: 529

In [29]:
print(given_name.capitalize())
print('fish fish fish'.count('fish'))

William
3

In [30]:
print("Mohammed has {} balloons".format(27))

animal = "dog"
action = "bite"
print("Does your {} {}?".format(animal, action))

maria_string = "Maria loves {} and {}"
print(maria_string.format("math","statistics"))

# https://docs.python.org/3.6/library/string.html#format-string-syntax

Mohammed has 27 balloons
Does your dog bite?
Maria loves math and statistics

In [31]:
new_str = "The cow jumped over the moon."
print(new_str.split(' ', 3))

['The', 'cow', 'jumped', 'over the moon.']

In [32]:
list_of_random_things = [1, 3.4, 'a string', True]
print(list_of_random_things[len(list_of_random_things)-1])
print(list_of_random_things[:3])

True
[1, 3.4, 'a string']

In [34]:
greeting = 'hello there'
months = ['jan', 'feb','march']
print(greeting[2:8], months[1:2])
print(list_of_random_things[1:])

# When using slicing, it is important to remember that the lower index is inclusive and the upper index is exclusive.

llo th ['feb']
[3.4, 'a string', True]

In [35]:
print('he' in greeting)
print('he' not in greeting)

True
False

In [36]:
my_lst = [1, 2, 3, 4, 5]
my_lst[0] = 'one'
print(my_lst)

['one', 2, 3, 4, 5]

In [37]:
month = 8
days_in_month = [31,28,31,30,31,30,31,31,30,31,30,31]

# use list indexing to determine the number of days in month
num_days = days_in_month[month - 1]

print(num_days)

31

In [13]:
eclipse_dates = ['June 21, 2001', 'December 4, 2002', 'November 23, 2003',
                 'March 29, 2006', 'August 1, 2008', 'July 22, 2009',
                 'July 11, 2010', 'November 13, 2012', 'March 20, 2015',
                 'March 9, 2016']
                 
                 
# TODO: Modify this line so it prints the last three elements of the list
print(eclipse_dates[-3:])

['November 13, 2012', 'March 20, 2015', 'March 9, 2016']

In [40]:
print(len(eclipse_dates))

10

In [41]:
print(max(eclipse_dates))

November 23, 2003

In [42]:
print(sorted(eclipse_dates))

['August 1, 2008', 'December 4, 2002', 'July 11, 2010', 'July 22, 2009', 'June 21, 2001', 'March 20, 2015', 'March 29, 2006', 'March 9, 2016', 'November 13, 2012', 'November 23, 2003']

In [43]:
print(sorted(days_in_month))
print(sorted(days_in_month, reverse=True))

[28, 30, 30, 30, 30, 31, 31, 31, 31, 31, 31, 31]
[31, 31, 31, 31, 31, 31, 31, 30, 30, 30, 30, 28]

In [44]:
new_str = "\n".join(["fore", "aft", "starboard", "port"])
print(new_str)

fore
aft
starboard
port

In [45]:
name = "-".join(["García", "O'Kelly"])
print(name)

García-O'Kelly

In [46]:
letters = ['a', 'b', 'c', 'd']
letters.append('z')
print(letters)

['a', 'b', 'c', 'd', 'z']

In [48]:
location = (13.4125, 103.866667)
print("Latitude:", location[0])
print("Longitude:", location[1])
print(type(location))

Latitude: 13.4125
Longitude: 103.866667
<class 'tuple'>

In [49]:
dimensions = 52, 40, 100
length, width, height = dimensions
print("The dimensions are {} x {} x {}".format(length, width, height))

The dimensions are 52 x 40 x 100

In [50]:
length, width, height = 52, 40, 100
print("The dimensions are {} x {} x {}".format(length, width, height))

The dimensions are 52 x 40 x 100

In [51]:
numbers = [1, 2, 6, 3, 1, 1, 6]
unique_nums = set(numbers)
print(unique_nums)

{1, 2, 3, 6}

In [52]:
# SETS

fruit = {"apple", "banana", "orange", "grapefruit"}  # define a set

print("watermelon" in fruit)  # check for element

fruit.add("watermelon")  # add an element
print(fruit)

print(fruit.pop())  # remove a random element
print(fruit)

False
{'watermelon', 'grapefruit', 'banana', 'apple', 'orange'}
watermelon
{'grapefruit', 'banana', 'apple', 'orange'}

In [59]:
# LIST TO SET 

a = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
b = set(a)
print(len(a) - len(b))
print(a)
print(b)

6
[1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
{1, 2, 3, 4}

In [60]:
# DICTIONARIES

elements = {"hydrogen": 1, "helium": 2, "carbon": 6}
print(elements["helium"])  # print the value mapped to "helium"
elements["lithium"] = 3  # insert "lithium" with a value of 3 into the dictionary
print("carbon" in elements)
print(elements.get("dilithium"))

2
True
None

In [61]:
n = elements.get("dilithium")
print(n is None)
print(n is not None)

True
False

In [62]:
a = [1, 2, 3]
b = a
c = [1, 2, 3]

print(a == b)
print(a is b)
print(a == c)
print(a is c)

True
True
True
False

In [63]:
animals = {
    'dogs': [20, 10, 15, 8, 32, 15],
    'cats': [3,4,2,8,2,4],
    'rabbits': [2, 3, 3],
    'fish': [0.3, 0.5, 0.8, 0.3, 1]}

print(animals['fish'])
print(animals['dogs'])
print(animals['dogs'][3])

[0.3, 0.5, 0.8, 0.3, 1]
[20, 10, 15, 8, 32, 15]
8

In [64]:
elements = {"hydrogen": {"number": 1,
                         "weight": 1.00794,
                         "symbol": "H"},
              "helium": {"number": 2,
                         "weight": 4.002602,
                         "symbol": "He"}}

print(elements["helium"])  # get the helium dictionary
print(elements["hydrogen"]["weight"])  # get hydrogen's weight

{'number': 2, 'weight': 4.002602, 'symbol': 'He'}
1.00794

In [65]:
elements = {'hydrogen': {
                'number': 1,
                'weight': 1.00794,
                'symbol': 'H',
                'is_noble_gas': False
            },
            'helium': {
                'number': 2,
                'weight': 4.002602,
                'symbol': 'He',
                'is_noble_gas': True
                
            }
}

print(elements['hydrogen']['is_noble_gas'])
print(elements['helium']['is_noble_gas'])

False
True

In [66]:
## type         ordr mutable constructor    example
## list     	Yes  Yes	 [ ] or list()	[5, 'yes', 5.7]
## tuple    	Yes	 No	     ( ) or tuple()	(5, 'yes', 5.7)
## set      	No	 Yes	 { } or set()	{5, 'yes', 5.7}
## dictionary	No	 Keys:No { } or dict()	{'Jun':75, 'Jul':89}